/***********************************************/
/*                    Tabla                    */
/*             Boris Gallego Ríos              */
/***********************************************/ 

/*Aqui empieza el formateo de la tabla*/

@media only screen and (max-width:800px) {
    #no-more-tables tbody,
    #no-more-tables tr,
    #no-more-tables td {
        display: block;
    }
    #no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    #no-more-tables td {
        position: relative;
        padding-left: 50%;
        border: none;
        border-bottom: 1px solid #eee;
    }
    #no-more-tables td:before {
        content: attr(data-title);
        position: absolute;
        left: 6px;
        font-weight: bold;
    }
    #no-more-tables tr {
        border-bottom: 1px solid #ccc;
    }

    

}

    
    /*Formateo manual de cosas de la tabla de bootstrap*/
    .table{
        border-radius: 15px;
        width: 95%;
        
    }

    tr{
        border-bottom: 2px solid black;
        
    }
  
    /*Formateo del boton de insercion de la tabla*/
    #insertardatos{
       
        margin-left: 15px;
        border: 2px solid black;
    }

    /*modifica los colores de las casillas impares*/
    .table-striped>tbody>tr:nth-of-type(odd) {
        --bs-table-accent-bg: rgba(255, 255, 255, 0.199);
        
    }
  
  /* Formateo del body */
  body{

    
    margin: 0;
    padding: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;

}

/*Formateo del wrapper*/
#wrapper{
    background: rgba(255, 255, 255, 0.199);
    border-radius: 15px;
    width: 95%;
    margin-top: 15vh;
    max-width: 1200px;
    
    
}

/*Formateo de la seccion de la tabla*/
#tablaseccion{
    
    width: 75%;
    
    
}

/*Formateo de p*/
p{
    z-index: 100;
}

/*Formateo del video que es el background*/
video{
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%!important;
    
    object-fit: cover;
    min-height: 800px
}




/*Formateo del icono*/
.icon{
    width: 50px;
    
}

/*Formateo del icono de bootstrap*/
.icontamano{
    font-size: 2em;
}



/*Formateo del icono de actualizar*/
.actualizar:hover{
    color: rgb(45, 0, 209);
}

/*Formateo del icono de eliminar*/
.eliminar:hover{
    color: rgb(190, 13, 13);
}


/*Formateo de los ajustes de la página web*/
@media only screen and (width<=867px){
    
    #tablaseccion{
     width: 100%!important;
 
    }
    
    #wrapper{
        width: 100%;
    }
     
      
  }


 @media only screen and (width<=1313px){
    
   #tablaseccion{
    width: 100%!important;

   }

    
     
 }

 @media only screen and (width<=749px){
    
    #wrapper{
        width: 100%;
    }
     
 }

 @media only screen and (width<=800px){
    
    body{
        display: block!important;
    }

    video{
        height: 200vh!important;
        min-height: 1800px!important;
    }

    #wrapper{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #tablaseccion{
        width: 100%;
    }
     
 }