
body{

    
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

#wrapper{
    
    
}
p{
    z-index: 100;
}

video{
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

#formulario{
    border-radius: 15px;
    width: 90vw!important;
    max-width: 500px;
    max-height: 500px;
    background: rgba(255, 255, 255, 0.062);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}



.icon{
    width: 50px;
    
}

.esconder{
    display: none;
    color: rgb(190, 30, 30);
    z-index: 100;
}



 @media only screen and (width<=500px){
    
    video{
        height:100vh!important;
    }
 
    body{
     
     height: 100vh;
    }
     
 }

 @media only screen and (height<=500px){
    
    video{
        height: 130vh!important;
    }
 
    body{
     display: block;
     height: 100vh;
    }
     
 }